footer {
  padding: 9.6rem 30.4rem;

  background-color: var(--footer-color);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-title {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 4.4rem;
  letter-spacing: -0.72px;

  color: var(--gray-900);
}

.footer-subtitle {
  margin: 2rem 0 4rem;

  font-size: 2rem;

  color: var(--text-color-content);
}

.footer-email {
  display: flex;
  gap: 1.6rem;

  margin-bottom: 3.2rem;
}

.footer-email input {
  width: 36rem;

  padding: 1.2rem 1.4rem 1.2rem 1.6rem;

  border: 1px solid #D0D5DD;
  border-radius: 0.8rem;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

input::placeholder {
  font-size: 1.6rem;

  color: var(--gray-900);
}

.footer-email button {
  width: 11.6rem;

  padding: 1.2rem 2rem;

  border: 1px solid var(--red-dark);
  border-radius: 0.8rem;

  background-color: var(--red-dark);

  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: var(--color-text-button);

  cursor: pointer;
}

.footer-copyright {
  font-size: 1.6rem;
  
  color: var(--footer-copyright);
}

@media screen and (max-width: 768px) {
  footer {
    padding: 5rem;
  }

  .footer-content {
    text-align: center;
  }

  .footer-title {
    font-size: 2.5rem;
    line-height: 3.2rem;
  }

  .footer-subtitle {
    font-size: 1.4rem;
    margin: 2rem;
  }

  .footer-email input {
    width: 20rem;
    padding: .8rem;
  }

  .footer-email button {
    width: 9rem;
    padding: .8rem;
  }

  .footer-copyright {
    font-size: 1.2rem;
  }
}

/* PSEUDO-CLASSES */
.footer-email button:hover {
  background-color: #771616;
}