#home {
  padding-bottom: 9.6rem;

  background-color: var(--background-color);
}

header {
  padding: 13.6rem 0 9.6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-about-us {
  font-size: 1.6rem ;
  font-weight: 600;

  padding-bottom: 2.4rem;

  color: var(--red-dark);
}

.header-title {
  font-size: 4.8rem;
  font-weight: 600;
  letter-spacing: -0.96px;

  padding-bottom: 3.6rem;

  color: var(--gray-900);
}

.header-subtitle {
  width: 79.1rem;
  
  font-size: 2rem;
  line-height: 3rem;

  color: var(--text-color-content);
}

.metricas {
  margin: 0 8rem;

  display: flex;
  flex-direction: row;
  gap: 3.2rem;
}

.metrica-item h2 {
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: -1.2px;

  color: var(--red-dark);
}

.metrica-item .item-subtitle {
  margin: 1.2rem 0 0.8rem;

  font-size: 1.8rem;
  font-weight: 500;
  
  color: var(--gray-900);
}

.metrica-item .item-text {
  width: 28rem;

  font-size: 1.6rem;
  line-height: 24px;

  color: var(--text-color-content);
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  #home {
    padding-bottom: 1rem;
  }
  
  header {
    padding: 15rem 6rem 7rem;
  }

  .header-about-us {
    padding-bottom: 2rem;
  }

  .header-title {
    font-size: 3.5rem;
    padding-bottom: 2.6rem;
  }

  .header-subtitle {
    width: 65rem;
    
    text-align: center;
    font-size: 1.8rem;
  }

  .metricas {
    width: 59.3rem;

    margin: 0 auto;
    
    flex-wrap: wrap;
    align-items: center;
    column-gap: 9.2rem;
    row-gap: 5.2rem;
    
    text-align: center;
  }
  
  .metrica-item h2 {
    font-size: 3rem;
  }

  .metrica-item .item-subtitle {
    font-size: 1.6rem;
  }

  .metrica-item .item-text {
    width: 25rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 428px) {
  .header-title {
    text-align: center;
  }

  .header-subtitle {
    width: 32rem;
  }

  .metricas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    width: 25rem;
  }
}